<section class="section" id="about">
	<div class="container">

		<div class="section__header">
			<h3 class="section__suptitle">What we do</h3>
			<h2 class="section__title">Story about</h2>
			<div class="section__text">
				<p>
					Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi dolores sint eum eos, ab error expedita nemo nostrum accusantium sunt praesentium iusto ipsam blanditiis perspiciatis, ducimus quod, quas, ex officiis!
				</p>
			</div>
		</div>

<!-- Попробуй сам сделать такой Ховер -->
		<div class="card">
			<div class="card__item">
				<div class="card__inner">
					<div class="card__img">
						<img src="assets/images/about/1.jpg" alt="">
					</div>
					<div class="card__text">Super team</div>
				</div>
			</div>
			<div class="card__item">
				<div class="card__inner">
					<div class="card__img">
						<img src="assets/images/about/2.jpg" alt="">
					</div>
					<div class="card__text">Super team</div>
				</div>
			</div>
			<div class="card__item">
				<div class="card__inner">
					<div class="card__img">
						<img src="assets/images/about/3.jpg" alt="">
					</div>
					<div class="card__text">Super team</div>
				</div>
			</div>
		</div>
	</div>
</section>

<div class="statistics">
	<div class="container">

		<div class="stat">
			<div class="stat__item">
				<div class="stat__count">42</div>
				<div class="stat__text">WebDesign Project</div>
			</div>
			<div class="stat__item">
				<div class="stat__count">123</div>
				<div class="stat__text">Happy client</div>
			</div>
			<div class="stat__item">
				<div class="stat__count">15</div>
				<div class="stat__text">award winner</div>
			</div>
			<div class="stat__item">
				<div class="stat__count">99</div>
				<div class="stat__text">cup of coffe</div>
			</div>
			<div class="stat__item">
				<div class="stat__count">42</div>
				<div class="stat__text">members</div>
			</div>
		</div>

	</div>
</div>



 

