 <div class="section">
 	<div class="container">
 		
		<div class="section__header">
				<h3 class="section__suptitle">Who we are</h3>
				<h2 class="section__title">Meet our tream</h2>
				<div class="section__text">
					<p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Praesentium, sed. Blanditiis qui vitae a voluptas, voluptatem porro incidunt est debitis, rem amet quae aliquid? Illum libero alias officia quos eaque.</p>
				</div>
		</div>

			<div class="card">
				<div class="card__item">
					<div class="card__inner">
						<div class="card__img">
							<img src="assets/images/meetourteam/1.jpg" alt="">
						</div>
						<div class="card__text">
							<div class="social">
								<a href="" class="social__item" target="_blank">
									<i class="fa fa-facebook-official" aria-hidden="true"></i>
								</a>
								<a href="" class="social__item" target="_blank">
									<i class="fa fa-twitter-square" aria-hidden="true"></i>
								</a>
								<a href="" class="social__item" target="_blank">
									<i class="fa fa-pinterest-square" aria-hidden="true"></i>
								</a>
								<a href="" class="social__item" target="_blank">
									<i class="fa fa-instagram" aria-hidden="true"></i>
								</a>
							</div>
						</div>
					</div>
					<div class="card__info">
						<div class="card__name">Metthew Dix</div>
						<div class="card__prof">Graphic Design</div>
					</div>
				</div>
				<div class="card__item">
					<div class="card__inner">
						<div class="card__img">
							<img src="assets/images/meetourteam/2.jpg" alt="">
						</div>
						<div class="card__text">
							<div class="social">
								<a href="" class="social__item" target="_blank">
									<i class="fa fa-facebook-official" aria-hidden="true"></i>
								</a>
								<a href="" class="social__item" target="_blank">
									<i class="fa fa-twitter-square" aria-hidden="true"></i>
								</a>
								<a href="" class="social__item" target="_blank">
									<i class="fa fa-pinterest-square" aria-hidden="true"></i>
								</a>
								<a href="" class="social__item" target="_blank">
									<i class="fa fa-instagram" aria-hidden="true"></i>
								</a>
							</div>
						</div>
					</div>
					<div class="card__info">
						<div class="card__name">Christopher Campbell</div>
						<div class="card__prof">UX Design</div>
					</div>
				</div>
				<div class="card__item">
					<div class="card__inner">
						<div class="card__img">
							<img src="assets/images/meetourteam/3.jpg" alt="">
						</div>
						<div class="card__text"><div class="social">
								<a href="" class="social__item" target="_blank">
									<i class="fa fa-facebook-official" aria-hidden="true"></i>
								</a>
								<a href="" class="social__item" target="_blank">
									<i class="fa fa-twitter-square" aria-hidden="true"></i>
								</a>
								<a href="" class="social__item" target="_blank">
									<i class="fa fa-pinterest-square" aria-hidden="true"></i>
								</a>
								<a href="" class="social__item" target="_blank">
									<i class="fa fa-instagram" aria-hidden="true"></i>
								</a>
							</div>
						</div>
					</div>
					<div class="card__info">
						<div class="card__name">Michael Fertig</div>
						<div class="card__prof">Developer</div>
					</div>
				</div>
			</div>

 	</div>
 </div>

 <div class="section section--gray">
 	<div class="container">
 		
		<div class="logos">
			<div class="logos__tem">
				<img  class="logos__img" src="assets/images/meetourteam/icon/1.png" alt="">
			</div>
			<div class="logos__tem">
				<img  class="logos__img" src="assets/images/meetourteam/icon/2.png" alt="">
			</div>
			<div class="logos__tem">
				<img  class="logos__img" src="assets/images/meetourteam/icon/6.png" alt="">
			</div>
			<div class="logos__tem">
				<img  class="logos__img" src="assets/images/meetourteam/icon/4.png" alt="">
			</div>
			<div class="logos__tem">
				<img  class="logos__img" src="assets/images/meetourteam/icon/5.png" alt="">
			</div>
			<div class="logos__tem">
				<img  class="logos__img" src="assets/images/meetourteam/icon/3.png" alt="">
			</div>
		</div>
 	</div>
 </div>