

<!--  когда прописываем правила для иконок и тайтлов, текста прописывай сначало для одного остальные все установятся согласно классам -->
<section class="section" id="service">
	<div class="container">
		<div class="section__header">
			<h3 class="section__suptitle">We work with</h3>
			<h2 class="section__title">Amazing services</h2>
		</div>
<!-- block - 1 -->
		<div class="services">
			<div class="services__item services__item services__item--border">
				<img src="assets/images/icon/photography.png" alt="" class="serviced__icon">
				<div class="services__title">Photography</div>
				<div class="services__text">Lorem ipsum dolor, sit, amet consectetur adipisicing elit. Voluptatem, doloremque  </div>
			</div>
			<div class="services__item services__item--border">
				<img src="assets/images/icon/webdesign.png" alt="" class="serviced__icon">
				<div class="services__title">Web Design</div>
				<div class="services__text">Lorem ipsum dolor, sit, amet consectetur adipisicing elit. Voluptatem, doloremque  </div>
			</div>
			<div class="services__item services__item--border">
				<img src="assets/images/icon/creativity.png" alt="" class="serviced__icon">
				<div class="services__title">Creativity</div>
				<div class="services__text">Lorem ipsum dolor, sit, amet consectetur adipisicing elit. Voluptatem, doloremque  </div>
			</div>
			<div class="services__item">
				<img src="assets/images/icon/seo.png" alt="" class="serviced__icon">
				<div class="services__title">Seo</div>
				<div class="services__text">Lorem ipsum dolor, sit, amet consectetur adipisicing elit. Voluptatem, doloremque  </div>
			</div>
			<div class="services__item">
				<img src="assets/images/icon/css.png" alt="" class="serviced__icon">
				<div class="services__title">Css</div>
				<div class="services__text">Lorem ipsum dolor, sit, amet consectetur adipisicing elit. Voluptatem, doloremque  </div>
			</div>
			<div class="services__item">
				<img src="assets/images/icon/digital.png" alt="" class="serviced__icon">
				<div class="services__title">Digital</div>
				<div class="services__text">Lorem ipsum dolor, sit, amet consectetur adipisicing elit. Voluptatem, doloremque  </div>
			</div>
		</div>
	</div>
</section>

<section class="section section--devices">
	<div class="container">
		<div class="section__header">
			<h3 class="section__suptitle">For all devices</h3>
			<h2 class="section__title">Unique design</h2>
		</div>
		
		<div class="devices">
			<img class="devices__item" src="assets/images/ipad.png" alt="">
			<img class="devices__item devices__item--iphone" src="assets/images/iphone.png" alt="">
		</div>
	</div>


</section>