<section class="section" id="blog">
	<div class="container">

		<div class="section__header">
			<h3 class="section__suptitle">Our stories</h3>
			<h2 class="section__title">Latest blog</h2>
		</div>

		<div class="blog">
			<div class="blog__item">
				<div class="blog__header">
					<a href="">
						<img src="assets/images/stories/1.jpg" alt="" class="blog__photo">
					</a>
					<div class="blog__date">
						<div class="blog__date-day">15</div>Jan
					</div>
				</div>
				<div class="blog__content">
					<div class="blog__title">
						<a href="">Lorem ipsum dolor sit amet.</a>
					</div>
					<div class="blog__text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae, repellendus!</div>
				</div>
				<div class="blog__footer">
					<div class="blog__stat">

						<span class="blog__stat-item">
							<i class="fa fa-eye" aria-hidden="true"></i>123
						</span>
						<span class="blog__stat-item">
							<i class="fa fa-comments" aria-hidden="true"></i>321
						</span>
					</div>
				</div>
			</div>

			<div class="blog__item">
				<div class="blog__header">
					<a href="">
						<img src="assets/images/stories/2.jpg" alt="" class="blog__photo">
					</a>
					<div class="blog__date">
						<div class="blog__date-day">19</div>Apr
					</div>
				</div>
				<div class="blog__content">
					<div class="blog__title">
						<a href="">Lorem ipsum dolor sit amet.</a>
					</div>
					<div class="blog__text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae, repellendus!</div>
				</div>
				<div class="blog__footer">
					<div class="blog__stat">

						<span class="blog__stat-item">
							<i class="fa fa-eye" aria-hidden="true"></i>1823
						</span>
						<span class="blog__stat-item">
							<i class="fa fa-comments" aria-hidden="true"></i>321
						</span>
					</div>
				</div>
			</div>

			<div class="blog__item">
				<div class="blog__header">
					<a href="">
						<img src="assets/images/stories/3.jpg" alt="" class="blog__photo">
					</a>
					<div class="blog__date">
						<div class="blog__date-day">36</div>Feb
					</div>
				</div>
				<div class="blog__content">
					<div class="blog__title">
						<a href="">Lorem ipsum dolor sit amet.</a>
					</div>
					<div class="blog__text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae, repellendus!</div>
				</div>
				<div class="blog__footer">
					<div class="blog__stat">

						<span class="blog__stat-item">
							<i class="fa fa-eye" aria-hidden="true"></i>1 million
						</span>
						<span class="blog__stat-item">
							<i class="fa fa-comments" aria-hidden="true"></i>3621
						</span>
					</div>
				</div>
			</div>
		</div>

	</div>
</section> 


<section class="section section--map">
	<div class="container">
		<div  class="map">
			<h2 class="map__title">
				<!-- пустой див для переноса строки -->
				<div><i class="fa fa-map-pin" aria-hidden="true"></i></div>
				<a  href="https://goo.gl/maps/EZvG4uydJMGE2nkRA" target="_blank" href="">Open Map</a>
			</h2>
		</div>
	</div>
</section>

