<div class="section">
	<div class="container">
		<div class="section__header">
			<h3 class="section__suptitle">Service</h3>
			<h2 class="section__title">what we do</h2>
			<div class="section__text">
				<p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Praesentium, sed. Blanditiis qui vitae a
					voluptas, voluptatem porro incidunt est debitis, rem amet quae aliquid? Illum libero alias officia
					quos eaque.</p>
			</div>
		</div>
		<div class="wedo">
			<div class="wedo__item">
				<!-- если нет картинки можно вставить
				http://placehold.it/570x380 -->
				<img class="wedo__img" src="assets/images/wedo/wedo.jpg" alt="">
			</div>
			<div class="wedo__item">
				<div class="accordion">
					<div class="accordion__item active" data-collapse="#wedo_1">
						<div class="accordion__header">
							<img class="accordion__icon" src="assets/images/wedo/1.jpg" alt="">
							<div class="accordion__title">Photography</div>
						</div>
						<div class="accordion__content" id="wedo_1">
							<p>
								Lorem ipsum dolor sit, amet, consectetur adipisicing elit. Fugiat corrupti eius
								necessitatibus eaque, quis impedit, atque quisquam porro quae quasi soluta praesentium,
								repellat voluptas harum officia perspiciatis tempore minima, eos.
							</p>
						</div>
					</div>

					<div class="accordion__item active" data-collapse="#wedo_2">
						<div class="accordion__header">
							<img class="accordion__icon" src="assets/images/wedo/2.jpg" alt="">
							<div class="accordion__title">Creativity</div>
						</div>
						<div class="accordion__content" id="wedo_2">
							<p>
								Lorem ipsum dolor sit, amet, consectetur adipisicing elit. Fugiat corrupti eius
								necessitatibus eaque, quis impedit, atque quisquam porro quae quasi soluta praesentium,
								repellat voluptas harum officia perspiciatis tempore minima, eos.
							</p>
						</div>
					</div>

					<div class="accordion__item active" data-collapse="#wedo_3">
						<div class="accordion__header">
							<!-- интересный момент, для картинок png формата не нужен в начале пути слэш -->
							<img class="accordion__icon" src="assets/images/wedo/3.png" alt="">
							<div class="accordion__title">Web Design</div>
						</div>
						<div class="accordion__content" id="wedo_3">
							<p>
								Lorem ipsum dolor sit, amet, consectetur adipisicing elit. Fugiat corrupti eius
								necessitatibus eaque, quis impedit, atque quisquam porro quae quasi soluta praesentium,
								repellat voluptas harum officia perspiciatis tempore minima, eos.
							</p>
						</div>
					</div>

				</div>
			</div>
		</div>
	</div>
</div>
<!-- модификатор в section.html -->
<!-- <div class="section section--gray">
	<div class="container">

		<div class="reviews">
 

			<div data-slider>
				<div>
					<div class="reviews__item">
						<img class="reviews__photo" src="assets/images/works/8.jpg" alt="">
						<div class="reviews__text">
							"Lorem ipsum, dolor sit amet consectetur adipisicing elit. Architecto consequatur culpa ipsum neque cum suscipit, odio odit, obcaecati fugiat beatae ea laudantium, fuga minus ab. Voluptates quia ipsum dignissimos labore!"
						</div>
						<div class="reviews__author">John Doe</div>
					</div>
				</div>

				<div>
					<div class="reviews__item">
						<img class="reviews__photo" src="assets/images/works/8.jpg" alt="">
						<div class="reviews__text">
							"Lorem ipsum, dolor sit amet consectetur adipisicing elit.  fugiat beatae ea laudantium, fuga minus ab. Voluptates quia ipsum dignissimos labore!"
						</div>
						<div class="reviews__author">Jack Brown</div>
					</div>
				</div>
			</div>
		</div>

	</div>
</div> -->