<section class="section section--clients">
	<div class="container">

		<div class="section__header">
			<h3 class="section__suptitle">Happy Clients</h3>
			<h2 class="section__title">What people say</h2>
		</div>

		<div class="clients">
			<div class="clients__item">
				<img class="clients__photo" src="assets/images/whtpeoplesay/1.png" alt="">
				<div class="clients__content">
					<div class="clients__name">Matthew Dix</div>
					<div class="clients__prof">Graphic designer</div>
					<div class="clients__text">Lorem, ipsum dolor sit, amet consectetur adipisicing elit.Lorem, ipsum
						dolor sit, amet consectetur adipisicing elit</div>
				</div>
			</div>

			<div class="clients__item">
				<img class="clients__photo" src="assets/images/whtpeoplesay/2.png" alt="">
				<div class="clients__content">
					<div class="clients__name">Nick karvounis</div>
					<div class="clients__prof">Graphic designer</div>
					<div class="clients__text">Lorem, ipsum dolor sit, amet consectetur adipisicing elit.Lorem, ipsum
						dolor sit, amet consectetur adipisicing elit</div>
				</div>
			</div>

			<div class="clients__item">
				<img class="clients__photo" src="assets/images/whtpeoplesay/3.png" alt="">
				<div class="clients__content">
					<div class="clients__name">Jaelynn castillo</div>
					<div class="clients__prof">Graphic designer</div>
					<div class="clients__text">Lorem, ipsum dolor sit, amet consectetur adipisicing elit.Lorem, ipsum
						dolor sit, amet consectetur adipisicing elit</div>
				</div>
			</div>

			<div class="clients__item">
				<img class="clients__photo" src="assets/images/whtpeoplesay/4.png" alt="">
				<div class="clients__content">
					<div class="clients__name">Mike petrucci</div>
					<div class="clients__prof">Graphic designer</div>
					<div class="clients__text">Lorem, ipsum dolor sit, amet consectetur adipisicing elit.Lorem, ipsum
						dolor sit, amet consectetur adipisicing elit</div>
				</div>
			</div>

		</div>

	</div>
</section>