<section class="section" id="work">
	<div class="container">
		<div class="section__header">
				<h3 class="section__suptitle">What we do</h3>
				<h2 class="section__title">Some of our work</h2>
				<div class="section__text">
					<p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Praesentium, sed. Blanditiis qui vitae a voluptas, voluptatem porro incidunt est debitis, rem amet quae aliquid? Illum libero alias officia quos eaque.</p>
				</div>
		</div>
	</div>

	<div class="works">
		<div class="works__col">
			<div class="works__item">
				<img class="works__image" src="assets/images/works/2.jpg" alt="">
				<div class="works__info">
					<div class="works__title">creativity designed</div>
					<div class="works__text">Lorem ipsum dolor sit.</div>
				</div>
			</div>
			<div class="works__item">
				<img class="works__image" src="assets/images/works/1.jpg" alt="">
				<div class="works__info">
					<div class="works__title">creativity designed</div>
					<div class="works__text">Lorem ipsum dolor sit.</div>
				</div>
			</div>
		</div>

		<div class="works__col">
			<div class="works__item">
				<img class="works__image" src="assets/images/works/3.jpg" alt="">
				<div class="works__info">
					<div class="works__title">creativity designed</div>
					<div class="works__text">Lorem ipsum dolor sit.</div>
				</div>
			</div>
			<div class="works__item">
				<img class="works__image" src="assets/images/works/5.jpg" alt="">
				<div class="works__info">
					<div class="works__title">creativity designed</div>
					<div class="works__text">Lorem ipsum dolor sit.</div>
				</div>
			</div>
		</div>

		<div class="works__col">
			<div class="works__item">
				<img class="works__image" src="assets/images/works/4.jpg" alt="">
				<div class="works__info">
					<div class="works__title">creativity designed</div>
					<div class="works__text">Lorem ipsum dolor sit.</div>
				</div>
			</div>
		</div>

		<div class="works__col">
			<div class="works__item">
				<img class="works__image" src="assets/images/works/7.jpg" alt="">
				<div class="works__info">
					<div class="works__title">creativity designed</div>
					<div class="works__text">Lorem ipsum dolor sit.</div>
				</div>
			</div>
			<div class="works__item">
				<img class="works__image" src="assets/images/works/6.jpg" alt="">
				<div class="works__info">
					<div class="works__title">creativity designed</div>
					<div class="works__text">Lorem ipsum dolor sit.</div>
				</div>
			</div>
		</div>
	</div>

</section>

<div class="section">
	<div class="container">

		<div class="reviews">
			<div data-slider>
				<div>

					<div class="reviews__item">
						<img class="reviews__photo" src="assets/images/works/8.jpg" alt="">
						<div class="reviews__text">
							"Lorem ipsum, dolor sit amet consectetur adipisicing elit. Architecto consequatur culpa ipsum neque cum suscipit, odio odit, obcaecati fugiat beatae ea laudantium, fuga minus ab. Voluptates quia ipsum dignissimos labore!"
						</div>
						<div class="reviews__author">Black Jack</div>
					</div>
				</div>

				<div>
					<div class="reviews__item">
						<img class="reviews__photo" src="assets/images/works/8.jpg" alt="">
						<div class="reviews__text">
							"Lorem ipsum, dolor sit amet consectetur adipisicing elit. Architecto consequatur culpa ipsum neque cum suscipit, odio odit, obcaecati fugiat beatae ea laudantium, fuga minus ab. Voluptates quia ipsum dignissimos labore!"
						</div>
						<div class="reviews__author">Ban Green</div>
					</div>
				</div>

			</div>
		</div>

	</div>
</div>
 