<html>
<head>
 {{> head }}	
</head>
<body>
	
<!-- <div class="page"> -->

 	{{> welcom }}
	{{> about }}
	{{> section }}
	{{> whatwedo }}
	{{> meetourteam }}
	{{> works }}
	{{> whtpeoplesay }}
	{{> stories }}
	{{> footer }}
	
<!-- </div> -->


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<!-- Важно чтобы Slick Js был между jquery и js -->

<script src="https://use.fontawesome.com/4c0d11c477.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
<script src="assets/js/app.js"></script>

</body>
</html>